.App {
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 420px;
  height: 300px;
  border: 5px solid #000000;
  border-radius: 15px;
  background-color:rgb(9, 134, 183);
  margin-top: 60px;
 
}

.parent{
  display: flex;
align-items: center;
justify-content: center;
}


.btn2{
  margin-left: 15px;
  cursor: pointer;
  width: 80px;
  height: 25px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.btn1{
  width: 80px;
  height: 25px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
}

#my_field{
  width: 280px;
  height: 28px;
  font-size: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.Title{
  text-align: center;
  margin-top: 50px;
}